<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source = SNE-HBK; user id =sa; password=sne@123; database=AtTrack_ELKEM"
      providerName="SqlClient" />
    <add name="AtTrackConnectionString" connectionString="Data Source=SNE-HBK;Initial Catalog=AtTrack;Persist Security Info=True;User ID=sa;Password=sne@123"
      providerName="System.Data.SqlClient" />
    <add name="CAS_SARDA_MINERALS_RAIPURConnectionString" connectionString="Data Source=SNE-HBK;Initial Catalog=CAS_SARDA_MINERALS_RAIPUR;Persist Security Info=True;User ID=sa;Password=sne@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
